<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Fakebook - <%= title %></title>
    <style type="text/css">
      body { background: #fff; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 11px; margin: 0px; padding: 0px; text-align: left; }
      h1, h2, h3, h4, h5 { font-size: 13px; color: #333; margin: 0px; padding: 0px; }
      h1 { font-size: 14px; }
      h4, h5 { font-size: 11px; }
      p { font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 11px; text-align: left; }
      a { color: #3b5998; text-decoration: none; }
      a:hover { text-decoration: underline; }
      img { border: 0px; }
      .fb-wrapper { margin: 20px; padding: 0; width: 646px; border: 1px solid #b7b7b7; border-bottom: 1px solid #3b5998; }
    </style>
  </head>
  <body>
    <div class="fb-wrapper">
      <%= body %>
    </div>
  </body>
</html>
