<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="facebook">

	<head>
		<title>Facebook | PackRat Design</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

		<script type="text/javascript" src="/fakebook-assets/firstscript.js"></script>
		<script type="text/javascript" src="/fakebook-assets/js_strings.js"></script>
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/common.css" />
		<%# app CSS goes here %>
		<%# where does JS go? %>
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/dialogpro.css" />
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/editprofile.css" />
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/tour_tip.css" />
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/pages.css" />
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/canvas.css" />
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/ubersearch.css" />
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/typeaheadpro.css" />
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/friend_suggester.css" />
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/profile.css" />
    <link type="text/css" rel="stylesheet" href="/fakebook-assets/edit_app_settings.css" />
    <script type="text/javascript" src="/fakebook-assets/common.js"></script>
    <script type="text/javascript" src="/fakebook-assets/link_controller.js"></script>
    <script type="text/javascript" src="/fakebook-assets/flyout_menu.js"></script>
    <script type="text/javascript" src="/fakebook-assets/canvas.js"></script>
    <script type="text/javascript" src="/fakebook-assets/confirmation.js"></script>
    <script type="text/javascript" src="/fakebook-assets/feedform.js"></script>
    <script type="text/javascript" src="/fakebook-assets/quickling.js"></script>
    <script type="text/javascript" src="/fakebook-assets/attachments.js"></script>
    <script type="text/javascript" src="/fakebook-assets/fbml.js"></script>
    <script type="text/javascript" src="/fakebook-assets/friend_suggester.js"></script>
    <script type="text/javascript" src="/fakebook-assets/typeahead_source.js"></script>
    <script type="text/javascript" src="/fakebook-assets/drag.js"></script>
    <script type="text/javascript" src="/fakebook-assets/sort.js"></script>
    <script type="text/javascript" src="/fakebook-assets/edit_app_settings.js"></script>
    <script type="text/javascript" src="/fakebook-assets/editapps.js"></script>
    <script type="text/javascript" src="/fakebook-assets/scrollarea.js"></script>
    <script type="text/javascript" src="/fakebook-assets/search_typeaheadpro.js"></script>
    <script type="text/javascript" src="/fakebook-assets/static_source.js"></script>
    <script type="text/javascript" src="/fakebook-assets/search_friend_source.js"></script>
    <script type="text/javascript" src="/fakebook-assets/livemessage.js"></script>
		<!--[if lte IE 6]><style type="text/css" media="screen">/* <![CDATA[ */ @import url(/fakebook-assets/ie6.css); /* ]]> */</style><![endif]-->
		<!--[if gte IE 7]><style type="text/css" media="screen">/* <![CDATA[ */ @import url(/fakebook-assets/ie7.css); /* ]]> */</style><![endif]-->
		<link rel="stylesheet" href="/fakebook-assets/webkit.css" type="text/css"/>
	</head>

	<body class="fbframe frame_wide widebook chat_body">
		<div id="fb_nonfooter">
			<div id="fb_nonfooter_content">
				<div id="fb_dropmenu_container">
					<div id="fb_menubar" class="clearfix">
						<div id="fb_menubar_logo">
							<a href="http://www.new.facebook.com/home.php?ref=logo" title="Go to Facebook Home"><span>&nbsp;</span></a>
						</div>
					</div>
				</div>
				<div id="book">
					<div class="compatibility_frame">
						<div id="content">
							<div id="app_content_<%= @app_id %>" class="app_content_<%= @app_id %> canvas_rel_positioning">
								<div>
									<%= body %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="pagefooter">
			<div class="pagefooter_topborder clearfix">
				<div class="f_links">
					<ul class="footer_links" id="nav_unused_3"><li>&nbsp;</li></ul>
				</div>
			</div>
		</div>
		<div id="js_buffer">
			<script type="text/javascript" src="endscript.js"></script>
		</div>
	</body>
</html>